/* .grid-container {
        
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: white;
    padding: 5px;
    height: 100%;
  }
  .grid-item1{
  
      background-color: royalblue;
      display: grid;
  }
  .grid-item{
  
  background-color: lightgrey;
  display: grid;
  }
  h1, h3{
      color: white;
      font-weight: bolder;
      margin-top: 25%;
  }
  span{
      color: black;
      font-weight: bolder;
  }
  p{
      color: white;
      
  }
  li{
      color: white;
      
  }
  .bdy{
      margin-left: 20%;
  }
  .dd{
      margin-left: 25%;
      margin-top: 10%;
  }
  #pp{
      color: black;
  }
  #show{
      color: black;
      font-size: xx-large;
  }
  #show1,#show3{
      color: black;
      font-size: medium;
  }
  #show2{
      color: black;
      font-size: xx-large;
  }
  #tt{
      margin-left: 20%;
      margin-top: 20%;
  }
     
     */


     *{
        margin:0;
        padding: 0;
        box-sizing: border-box;
      }
      
      body{
        font-family: "Nunito",sans-serif;
        background: rebeccapurple;
      }
      
      .input{
        text-align: center;
        margin: 100px auto;
      }
      
      input[type="submit"]{
        padding: 15px 30px;
        background: #e7e7e7;
        border: none;
        border-radius: 1px;
        font-family: "Nunito",sans-serif;
        font-weight:bold;
        font-size: 20px;
        text-align: center;
      }
      
      .input input[type="text"]{
        width: 600px;
        height: 55px;
        padding: 5px 10px;
        background: #e7e7e7;
        border: none;
        border-radius: 1px;
        font-family: "Nunito",sans-serif;
        font-weight:bold;
        font-size: 20px;
        text-align: center;
      }
      
      .card{
        width: 50%;
        background: #e7e7e7;
        height: 40vh;
        margin: 50px auto;
        border-radius: 2px;
      }
      
      
      .close{
        float: right;
        margin-top: -2px;
        cursor: pointer;
        margin-right: 20px;
      }
      
      .card h1{
        padding: 5px 0;
        text-align: center;
      }
      
      .card p{
        text-align: center;
        margin:40px 0;
        font-size:20px;
      }